{margin: 0; padding: 0; box-sizing: border-box;}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.carosel-container{
    position: relative;
    width: 900px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

input[type="radio"]{ display: none;}

.carousel input {
  display: none;
}

.slides{
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 1.5s ease-in-out;
}


